__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env

# Data & artifacts
/data/interim/
/data/processed/
/reports/results/
/reports/figures/
/mlruns/
/artifacts/*.bin
/artifacts/*/checkpoint-*/
artifacts/best_model/model.safetensors

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# VSCode & IDEs
.vscode/
.idea/
*.swp
.DS_Store

# Logs
logs/
*.log
